body {
  overflow: hidden;
}

.Container {
  position: relative;
  z-index: 2;
  display: flex;
  font-size: 0;
  height: 100vh;
}

.Marquee {
  position: absolute;
  font: 700 14px/16px $ff-sans;
  color: transparentize(#fff, 0.15);
  border-top: 4px lighten($brand-blue, 15) solid;
  background-color: $brand-blue;
  z-index: 3;
  padding: 8px 16px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 8px transparentize(#001, 0.65);

  .Logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    padding: 8px 48px 8px 16px;
    background: linear-gradient(90deg, $brand-blue 85%, transparent);
    font-style: italic;
    font-size: 16px;
    text-shadow: 1px 1px darken($brand-blue, 20);

    svg {
      height: 16px;
      fill: currentColor;
      padding-right: 4px;
    }
  }
}

.BackgroundScroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -48px;
  z-index: 1;
  background-color: rgb(83, 91, 106);
  color: darken(rgb(83,91,106), 9);
  font: 400 italic 17px/20px $ff-sans;
}

.Cursor {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 500ms transform ease-out 300ms;

  img {
    width: 100%;
    position: relative;
    z-index: 5;
  }

  &::before {
    content: '';
    display: block;
    padding: 12px;
    border-radius: 50%;
    background-color: transparentize(#fff, 0.4);
    position: absolute;
    z-index: 4;
    opacity: 0;
  }
}

.Belt {
  width: 20%;
  max-width: 240px;
  flex: 1 0 auto;
  background: linear-gradient(45deg, $dark-grey, lighten($dark-grey, 10));
}

.WorkBench {
  width: 60%;
  flex: 1 auto;
}

.Modules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  // width: 20%;
  flex: 0 auto;
  padding: 16px 16px 52px;
}

.Reference {
  display: none;
}
