.skin-0 {
  background-color: #001;

  .c-bg {
    background-color: transparentize(white, 0.8);
  }

  .c-prim {
    color: white;
  }

  .c-accent {
    color: #80DED9;
  }
}

.skin-1 {
  background-color: #3066BE;

  .c-bg {
    background-color: transparentize(#001, 0.8);
  }

  .c-prim {
    color: #B6F6F9;
  }

  .c-accent {
    color: #86B8E0;
  }
}

.skin-2 {
  background-color: #DF2935;

  .c-bg {
    background-color: transparentize(white, 0.85);
  }

  .c-prim {
    color: white;
  }

  .c-accent {
    color: #F5F3BB;
  }
}

.skin-3 {
  background-color: #EDE580;

  .c-bg {
    background-color: transparentize(#D35269, 0.8);
  }

  .c-prim {
    color: #001;
  }

  .c-accent {
    color: #D35269;
  }
}

.skin-4 {
  background-color: #111D4A;

  .c-bg {
    background-color: transparentize(white, 0.8);
  }

  .c-prim {
    color: #FFF8F0;
  }

  .c-accent {
    color: #FFCF99;
  }
}

.skin-5 {
  background-color: #9fddf6;

  .c-bg {
    background-color: transparentize(#111D4A, 0.85);
  }

  .c-prim {
    color: #111D4A;
  }

  .c-accent {
    color: #9d4531;
  }
}

.skin-6 {
  background-color: #EDF5FC;

  .c-bg {
    background-color: transparentize(#23CE6B, 0.8);
  }

  .c-prim {
    color: #14241c;
  }

  .c-accent {
    color: #23CE6B;
  }
}

.skin-7 {
  background-color: #7DCE82;

  .c-bg {
    background-color: transparentize(white, 0.8);
  }

  .c-prim {
    color: #0A2342;
  }

  .c-accent {
    color: #1e8671;
  }
}

.skin-8 {
  background-color: #e2f8fa;

  .c-bg {
    background-color: transparentize(#BB0A21, 0.8);
  }

  .c-prim {
    color: #001;
  }

  .c-accent {
    color: #BB0A21;
  }
}

.skin-9 {
  background-color: #856156;

  .c-bg {
    background-color: transparentize(#100, 0.8);
  }

  .c-prim {
    color: #f9e59f;
  }

  .c-accent {
    color: #cf942e;
  }
}
