.Template {
  font: 1rem/1.25 $ff-sans;
  flex: 0 auto;
  color: $light-grey;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 12px 2px transparentize(#001, 0.75);
  animation: 450ms ease-in fadeup;
  transition: 300ms transform ease-out, 300ms opacity ease,
    240ms background-color cubic-bezier(0.950, 0.050, 0.795, 0.035);
  width: auto;

  &.is-finished {
    opacity: 0;
    transform: translateX(40vw);
  }
}

.Template-block {
  background-clip: content-box;
  background-color: transparent;
  transition: 180ms background-color cubic-bezier(0.950, 0.050, 0.795, 0.035),
    180ms color cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

.Template-row {
  display: flex;
  align-items: flex-start;

  > * {
    flex: 0 auto;
  }
}

.txt {
  * + * {
    margin-top: 8px;
  }

  * + .sp-above {
    margin-top: 32px;
  }
}

.padded {
  padding: 8px;
}

.Template svg {
  display: block;
  opacity: 0;
  transition: 180ms opacity cubic-bezier(0.950, 0.050, 0.795, 0.035),
    300ms background-color cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

.Template-block {
  background-color: $light-grey;

  &.is-revealed {
    background-color: transparent;

    svg {
      opacity: 1;
    }
  }
}

.Template--poster {
  max-width: 256px;
}


.Template--banner {
  max-width: 512px;
}

// Template animations
@keyframes fadeup {
  0% {
    transform: translateY(48px);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

// Template sizing utilities
.r-reverse {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-32px {
  width: 32px;
}

.w-64px {
  width: 64px;
}

.w-128px {
  width: 128px;
}

.mxw-40 {
  max-width: 40%;
}

.mxw-80 {
  max-width: 80%;
}

// Image utilities
.i-square,
.i-wide {
  fill: currentColor;
  max-width: 100%;
}

.i-1x {
  height: 32px;
}

.i-2x {
  height: 64px;
}

.i-3x {
  height: 96px;
}

.i-4x {
  height: 128px;
}

.i-full {
  width: 256px;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  line-height: 1.2;
  font-size: 1.5rem;
}

.fs-xl {
  line-height: 1.15;
  font-size: 2rem;
}

.italics {
  font-style: italic;
}

.fw-b {
  font-weight: 700;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.bdr-b {
  border-bottom: 1px currentColor solid;
}

.ff-disp {
  font-family: $ff-disp;
}

.ff-serif {
  font-family: $ff-serif;
}

.ff-mono {
  font-family: $ff-mono;
}

.center {
  text-align: center;

  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.right {
  text-align: right;
  margin-left: auto;
}

.flx-grow {
  flex-grow: 1 !important;
}

.flx-grow--2 {
  flex-grow: 2 !important;
}

.ai-stretch {
  align-items: stretch !important;
}

.ai-center {
  align-items: center !important;
}
