$green: rgb(92, 221, 65);
$brand-blue: rgb(2, 29, 210);
$light-grey: rgb(170, 173, 182);
$grey: rgb(50, 51, 66);
$dark-grey: rgb(12, 13, 18);

$ff-mono: 'Space Mono', monospace;
$ff-serif: 'Arvo', Georgia, serif;
$ff-disp: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
