<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Design Factory</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i|Montserrat:300i,700|Space+Mono:700" rel="stylesheet">
  </head>
  <body>
    <div id="cursor" class="Cursor">
      <img src="/img/cursor.png" alt="">
    </div>

    <div class="Marquee">
      <div class="Logo">
        <svg viewBox="8,8,64,32">
          <use xlink:href="img/symbols/Symbols.svg#Cascade"></use>
        </svg>
        <span>Cascade News</span>
      </div>
      <div id="bottomMarquee">
        {% assign marquee_strings = site.data.marquee.strings | shuffle %}
        {% for string in marquee_strings %}
        {{ string }}&ensp;&bull;&ensp;
        {% endfor %}
      </div>
    </div>
    <div id="bgMarquee" class="BackgroundScroll">
      {% for string in site.data.reality.strings %}
        {{ string }} &bull;
      {% endfor %}
    </div>
    <div class="Container">
      <div class="Belt">
        <div class="Belt-header">
          <div class="Belt-title">Projects</div>
          <div id="importBtn" class="Belt-btn">Import&ensp;&#10095;</div>
        </div>
        <div id="items" class="Belt-items">
          {% assign shuffled_items = site.items | shuffle %}
          {% for item in shuffled_items %}
          <ol data-type="{{ item.type }}" class="Item">
            {% for block in item.blocks %}
            <li data-label="{{ block.label }}" class="Item-block">
              {{ block.data }}
            </li>
            {% endfor %}
          </ol>
          {% endfor %}
        </div>
      </div>
      <div id="workbench" class="WorkBench"></div>
      <div class="Modules">
        <div class="Module">
          <div id="moduleClock" class="Module-clock"></div>
          <div class="Module-profile">
            <div class="Module-profileInfo">
              <p>Welcome back</p>
              <p>You are <u>logged in</u></p>
              <p>MagicMarketer v3.4.2b</p>
            </div>
            <img src="/img/profilepic.png" alt="">
          </div>
        </div>
        <div class="Module">
          <div class="Module-inspiration" id="moduleInspo">
            <div class="header">QuoteDeck</div>
            <div class="content">
            </div>
            <div class="footer">
              <span>Powered by</span>
              <svg viewBox="8,8,64,32">
                <use xlink:href="img/symbols/Symbols.svg#Cascade"></use>
              </svg>
            </div>
          </div>
          <div class="Module-buttons">
            <div id="colorBtn" class="Module-button Module-button--ghost">
              Color
            </div>
            <div id="exportBtn" class="Module-button">
              Export&ensp;&#10095;
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="reference" class="Reference">
      {% for template in site.templates %}
      {{ template.content }}
      {% endfor %}
    </div>
    <script src="js/vendor/jquery.js" charset="utf-8"></script>
    <script src="js/vendor/marquee.js" charset="utf-8"></script>
    <script type="text/javascript">
      $('#bottomMarquee').marquee({
        duration: document.getElementById('bottomMarquee').innerText.length * 10,
        delayBeforeStart: 0,
        gap: 48,
        duplicated: true
      });

      $('#bgMarquee').marquee({
        duration: document.getElementById('bgMarquee').offsetHeight * 30,
        direction: 'down',
        delayBeforeStart: 0,
        gap: 0,
        duplicated: true,
        startVisible: true
      });
    </script>
    <script src="js/main.bundle.js" charset="utf-8"></script>
  </body>
</html>
